.border {
	border: 1px solid #dee2e6;
}

.padding {
	padding: 1rem;
}

.rounded {
	border-radius: 0.25rem;
}

.mr-1 {
	margin-right: 0.25rem;
}

.ml-1 {
	margin-left: 0.25rem;
}

.mt-1 {
	margin-top: 0.25rem;
}

.mb-1 {
	margin-top: 0.25rem;
}

.row {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

/*Estilos del Gaby*/

.vertical-center {
	min-height: 65%;
	min-height: 65vh;
	display: flex;
	align-items: center;
}

.footer {
	position: fixed;
	bottom: 0%;
}

.mr-1 {
	display: block;
	margin: 20px;
}

#input-mainInput {
	display: block;
	margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
	.footer{
		position: initial;
	}
}
